.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer; 
}

.profile:hover{
    opacity: 0.8;
}

.profile_avatar{
    height: 35px !important;
    width: 35px !important;
}

.profile_readIcon{
    color: #ed3b55;
}

.profile_info{
    padding-left: 5px;
    flex: 1;

}

.profile_info > p {
    font-size: 9px;
}